language: python
---

name: build template with imports
phrase: build template
insertionScope: statement
-
# pylint: disable=f403, f405, wildcard-import, undefined-variable
# %%
import b123d_positioning
from build123d import *
import build123d as bd
from ocp_vscode import *

from pathlib import Path
# ocp.set_defaults(reset_camera=ocp.Camera.KEEP)
set_port(3939)

# %%

w=190
h=35
d=2

whole =  extrude(base, amount=d)

script_dir = Path(__file__).parent
models = {
    Path(__file__).name: whole,
}
show(*models.values(), reset_camera=Camera.KEEP)

# %%

if __name__ == "__main__":
    dir = (script_dir / "exported").resolve()
    for name, model in models.items():
        filename = dir / f"{name}.step"
        print(f"Exporting STEP to {filename}")
        export_step(model, filename)
        filename = dir / f"{name}.stl"
        print(f"Exporting stl to {filename}")
        export_stl(model, filename)

---

name: build part
phrase: build part
insertionScope: statement
-
with BuildPart() as ${1:p}:
    ${0}

---

name: build sketch
phrase: build sketch
insertionScope: statement
-
with BuildSketch(${1}) as ${2:s}:
    ${0}

---

name: build sketch and extrude
phrase: build sketch extrude
insertionScope: statement
-
with BuildSketch(${1}) as ${2:s}:
    ${0}
extrude(amount=${3})

---

name: build line
phrase: build line
insertionScope: statement
-
with BuildLine(${1}) as ${2:l}:
    ${0}

---

name: build location
phrase: build location
insertionScope: statement
-
Location((${0}, ${1})):
---

name: build locations
phrase: build locations
insertionScope: statement
-
with Locations((${1})):
    ${0}
---

name: build polar locations
phrase: build polar locations
insertionScope: statement
-
with PolarLocations(${1}):
    ${0}

---

name: build grid locations
phrase: build grid locations
insertionScope: statement
-
with GridLocations(${1}):
    ${0}

---

name: build hex locations
phrase: build hex locations
insertionScope: statement
-
with HexLocations(${1}):
    ${0}

---

name: build sort
phrase: build sort
insertionScope: statement
-
.sort_by($1)
---

name: build filter
phrase: build filter
insertionScope: statement
-
.filter_by($1)
---

name: build center
phrase: build center
insertionScope: statement
-
Align.CENTER
---

name: build min
phrase: build min
insertionScope: statement
-
Align.MIN
---

name: build max
phrase: build max
insertionScope: statement
-
Align.MAX
---

name: build center center
phrase: build center center
insertionScope: statement
-
align=(Align.CENTER,Align.CENTER)
---

name: build center min
phrase: build center min
insertionScope: statement
-
align=(Align.CENTER,Align.MIN)

---

name: build center max
phrase: build center max
insertionScope: statement
-
align=(Align.CENTER,Align.MAX)

---

name: build min center
phrase: build min center
insertionScope: statement
-
align=(Align.MIN,Align.CENTER)

---

name: build min min
phrase: build min min
insertionScope: statement
-
align=(Align.MIN,Align.MIN)

---

name: build min max
phrase: build min max
insertionScope: statement
-
align=(Align.MIN,Align.MAX)

---

name: build max center
phrase: build max center
insertionScope: statement
-
align=(Align.MAX,Align.CENTER)

---

name: build max min
phrase: build max min
insertionScope: statement
-
align=(Align.MAX,Align.MIN)

---

name: build max max
phrase: build max max
insertionScope: statement
-
align=(Align.MAX,Align.MAX)

---

name: build extrude
phrase: build extrude
insertionScope: statement
-
extrude(amount=${0})

---

name: build offset
phrase: build offset
insertionScope: statement
-
offset(amount=${0})

---

name: build split
phrase: build split
insertionScope: statement
-
split(bisect_by=Plane.${0})

---

name: build mirror
phrase: build mirror
insertionScope: statement
-
mirror(about=Plane.${0})

---

name: build plane offset
phrase: build plane offset
insertionScope: statement
-
Plane.${1|XY,XZ,YZ,ZX,ZY|}.offset(${0:0})

---

name: build rectangle rounded
phrase: build rectangle rounded
insertionScope: statement
-
RectangleRounded(${1})${0}

---

name: build mode subtract
phrase: build mode subtract
insertionScope: statement
-
mode=Mode.SUBTRACT

---

name: build mode private
phrase: build mode private
insertionScope: statement
-
mode=Mode.PRIVATE

---

name: build mode intersect
phrase: build mode intersect
insertionScope: statement
-
mode=Mode.INTERSECT

---

name: build mode add
phrase: build mode add
insertionScope: statement
-
mode=Mode.ADD

---

name: build mode replace
phrase: build mode replace
insertionScope: statement
-
mode=Mode.REPLACE

---

name: build axis X
phrase: build axis ex
insertionScope: statement
-
Axis.X

---

name: build axis Y
phrase: build axis why
insertionScope: statement
-
Axis.Y

---

name: build axis Z
phrase: build axis zed
insertionScope: statement
-
Axis.Z

---

name: build plane XY
phrase: build plane ex why
insertionScope: statement
-
Plane.XY

---

name: build plane YX
phrase: build plane why ex
insertionScope: statement
-
Plane.YX

---

name: build plane XZ
phrase: build plane ex zed
insertionScope: statement
-
Plane.XZ

---

name: build plane ZX
phrase: build plane zed ex
insertionScope: statement
-
Plane.ZX

---

name: build plane ZY
phrase: build plane zed why
insertionScope: statement
-
Plane.ZY

---


name: build plane YZ
phrase: build plane why zed
insertionScope: statement
-
Plane.YZ

---
